html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

#nav-container{
    border-style: solid;
    border-color: red;
    border-width: medium;
    background-color: #383e4c;
}

#nav{
    display: flex;
    justify-content: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.button{
    color: white;
    background-color: transparent;
    border: 1px solid white; 
    margin-left: .5em;
    margin-right: .5em;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
}


#jumbotron{
    border-style: solid;
    border-color: purple;
    border-width: medium;
    background-color: yellow;
    background-image: url('img/bg-1.jpg');
}

#jumbotron h1, p{
    color: red;
    text-align: center; 
}
